 .products-container{
    margin-top: 100px;
}
.products-container .error-msg{
    text-align: center;
    color: #198754;
    font-weight: 500;
    font-size: 28px;
}
@media screen and (max-width: 575px){
    .products-container{
        margin-top: 150px;
    }
}
